@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--progress-width);
  max-width: 536px;
  background-color: green;
  border-radius: inherit;
}
